<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><?=$blog['title']?></title>
    <style>
        .zan-list {
            border: 1px solid skyblue;
            padding: 0;
            text-align: center;
        }
        .zan {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid skyblue;
            padding: 5px;
            margin-left: 20px;
        }
        .zan-list h3 {
            padding: 0;
            margin-top: 0;
            background-color: #EEE;
            padding: 5px;
        }
    </style>
</head>
<body>

    <?php view('common.nav') ?>

    <div id="menu"></div>

    <h1><?=$blog['title']?></h1>
    <p>浏览量：<span id="display"></span></p>
    <p><?=$blog['content']?></p>
    <img id="btn-zan" src="../images/zan.jpg" width="120">

    <div class="zan-list">
        <h3>点赞列表</h3>
        <div id="avatar-list"></div>
    </div>

    <?php view('common.footer') ?>

</body>
</html>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script>
    var id = "<?=$blog['id']?>";
    var url = "/blog/display?id=" + id;
    $.ajax({
        type:'GET',
        url:url,
        dataType:'json',
        success:function(data){
            $("#display").html(data.display);
            var html = '<a href="/">首页</a>'
            if(data.email == ''){
                html += `<a href="/user/register">注册</a>
                         <a href="/user/login">登陆</a>
                        `
            }else {
                html += data.email + `
                            <a href="/blog/index">日志列表</a>
                            <a href="/blog/create">发表日志</a>
                            <a href="/user/loginout">退出</a>
                        `
            }
            $('#menu').html(html);
        }
    })

    // 点赞
    $("#btn-zan").click(function(){
        $.ajax({
            type:"POST",
            url:"/blog/zan?id="+id,
            dataType:"json",
            success:function(data){
                if(data.zan == 200){
                    alert("点赞成功");
                }else {
                    data.message;
                }
            }
        })
    })

    // 点赞列表
    $.ajax({
        type:'GET',
        url:'/blog/zan_list?id='+id,
        dataType:'json',
        success:function(data){
            // console.log(data);
            if(data.zan == 200){
                var html='';
                for(var i=0;i<data.data.length;i++){
                    var avatar = data.data[i].avatar ? data.data[i].avatar : '/images/zan.jpg';
                    html += '<img title="'+data.data[i].email+'" class="zan" src="'+avatar+'">';
                    console.log(html);

                }
                $("#avatar-list").html( html )
            }
        }
    })

</script>
