<?php

return [
    'redis' => [
        'scheme' => 'tcp',
        'host'   => '127.0.0.1',
        'port'   => 6379,
    ],
    'db' => [
        'host' => '127.0.0.1',
        'dbname' => 'blog',
        'user' => 'root',
        'pass' => '198211',
        'charset' => 'utf8',
    ],
    'email' => [
        'mode' => 'dev',     //  dev （开发模式）   pro（上线模式)
        'mode' => '',    // 值：debug  和 production
        'port' => 25,
        'host' => 'smtp.126.com',
        'name' => 'xxxxrc@126.com',
        'pass' => '198211xrc',
        'from_email' => 'xxxxrc@126.com',
        'from_name' => '许若尘',
    ]
];