<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户上传头像</title>
</head>
<body>

    <?php view('common.nav') ?>
    <h1>上传头像</h1>
    <form action="/user/addavatar" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit" value="上传">
    </form>
    <?php view('common.footer') ?>
</body>
</html>